.github
.git
*.md
.vscode
.gitignore
Makefile
docs
.eslintcache
.gocache
web/node_modules
web/classic
**/node_modules
bin/*
!bin/new-api-rc24
docker-data
exports
reconcile-logs
*.log
!LICENSE
!NOTICE
!THIRD-PARTY-LICENSES.md
